:root {
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
    /* criando variaveis para guardar as cores da página */
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    /* usar -- para chamar a variavel que guarda a cor */
    padding: 70px;
    font-family: Righteous, sans-serif;
    /* sans-sefif serve para caso se o sisterma nao encontrar a fonte escolhida ele substituira por qualquer uma */
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    gap: 16px;
    /* gap é o espacamento entre os filhos */
    align-items: center;
}

header span {
    font-size: 32px;
    color: var(--secundary-color)
}

main {
    
    flex-grow: 1;
    /* flex grow se estica ao maximo sem espremer os outros filhos flex */
    display: flex;
    flex-direction: column;
}

.sombra {
    font-size: 500px;
    position: absolute;
    color: #ffffff55;
    z-index: -999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    /* left, top e transform centraliza um objeto que não possui um pai e esta como absolute, seja na frente ou atras de todos os objetos*/
}

h1 {
    flex-grow: 1;
    font-size: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.conteiner {
    height: 154px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
    align-items: flex-end;
    
}

.pikachu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: -50%, -50%;
    z-index: 999;
}

footer {
   background-color: aquamarine;
}

.descricao h2 {
    font-size: 64px;
    color: var(--secundary-color);
}

.descricao p {
    font-size: 20px;
    color: var(--secundary-color);
    width: 500px;
}

.conteiner a {
    width: 400px;
    height: 100px;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: rgb(255, 255, 255);
}