:root {
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
    /* criando variaveis para guardar as cores da página */
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    /* usar -- para chamar a variavel que guarda a cor */
    padding: 70px;
    font-family: Righteous, sans-serif;
    /* sans-sefif serve para caso se o sisterma nao encontrar a fonte escolhida ele substituira por qualquer uma */
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    gap: 15px;
    /* gap é o espacamento entre os filhos */
    align-items: center;
}

header span {
    font-size: 32px;
    color: var(--secundary-color);
}

main {

    flex-grow: 1;
    /* flex grow se estica ao maximo sem espremer os outros filhos flex */
    display: flex;
    flex-direction: column;
}

.sombra {
    font-size: 26vw;
    position: absolute;
    color: #ffffff55;
    z-index: -999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    /* left, top e transform centraliza um objeto que não possui um pai e esta como absolute, seja na frente ou atras de todos os objetos*/
}

h1 {
    text-shadow: 0 00px 0 #000;
    flex-grow: 1;
    font-size: 20vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteiner {
    height: 154px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
    align-items: flex-end;

}

.pikachu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

footer {
    color: var(--secundary-color);
    text-align: center;
}

.descricao h2 {
    font-size: 64px;
    color: var(--secundary-color);
}

.descricao p {
    font-size: 20px;
    color: var(--secundary-color);
    width: 500px;
}

.conteiner a {
    width: 400px;
    height: 100px;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    body {
        padding: 30px;
    }

    .sombra {
        transform: translate(-50%, -180%);
    }

    main {
        justify-content: space-between;
    }

    h1 {
        align-items: start;
        transform: translateY(40%);
        flex-grow: 0.8;

    }

    .conteiner {
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    footer {
        display: none;
    }

}

/* mobile */
@media (max-width: 480px) {
    .descricao p {
        display: none;
    }
    .sombra {
        transform: translateY(-50%, -230%);
    }

    .pikachu {
        height: 50vh;
    }

    .descricao h2{
        font-size: 38px;
    }

    .conteiner a {
        width: 100%;
    }

}